.footer {
  border-top: 2px solid lighten($brand-danger, 25%);
  background-color: $brand-primary;
  text-align: center;
  padding-bottom: .5em;

  h4 {
    margin: 0 0 .25em 0;
    text-decoration: underline;
  }

  ul {
    list-style: none;
    margin: 0 0 .5em 0;
    padding: 0;
  }

  a {
    color: $brand-warning;

    &:visited {
      color: $brand-warning;;
    }
  }

  @media(max-width: $screen-xs) {
    font-size: .5em;
  }
}
.sub-footer {
  background-color: $brand-danger;
  color: $brand-primary;
  text-align: center;

  .row {
    padding: .75em .35em;
  }
  .abn {
    float: left;
  }
  .site-by {
    float: right;
  }
  a {
    color: $brand-warning;

    &:visited {
      color: $brand-warning;;
    }
  }
  &.home {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba($brand-danger, .45);
    color: $brand-white;
    z-index: 3;
  }

  @media(max-width: $screen-xs) {
    font-size: .55em;
    padding: 0 .75em;
  }
}
.footer-form {
  text-align: center;

  input {
    text-align: center;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid $brand-danger;
    width: 75%;
    margin: 0 auto;
    color: $brand-white;

    &:focus {
      outline: none;
    }
  }
  button {
    margin-top: .75em;
  }
}