<div class="container contact">
    <div class="col-xs-8 viewport-height no-padding">
        <agg-map options="cont.map"></agg-map>
    </div>

    <div class="col-xs-4 contact-form">
        <h2>Get In Contact</h2>
        <hr>
        <input id="email" type="email" placeholder="Email">
        <input id="subject" type="text" placeholder="Subject">
        <input class="message" id="message" type="text" placeholder="Message">
        <button class="btn btn-danger" id="submit" type="submit">Submit</button>

        <h2>More Ways</h2>
        <hr>
        <ul>
            <li><i class="fa fa-phone fa-2x"></i><a href="tel:61407499830">+61 407 499 830</a></li>
            <li><i class="fa fa-envelope fa-2x"></i><a href="mailto:kim@transaudit.org">kim@transaudit.org</a> </li>
        </ul>
    </div>
</div>