<header ng-controller="NavCtrl as nav">
    <!-- Mobile Nav -->
    <nav class="mobile-navbar hide" ng-class="{hide: nav.hideNav}">
        <div class="mobile-logo">
            <img src="img/logoWhite.png" class="vertical-responsive">
        </div>
        <ul class="mobile-nav">
            <li ui-sref-active="active"><a ui-sref="app.home" ng-click="nav.toggleNav()">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="app.about" ng-click="nav.toggleNav()">About</a></li>
            <li ui-sref-active="active"><a ui-sref=".services" ng-click="nav.toggleNav()">Services</a></li>
            <li ui-sref-active="active"><a ui-sref=".contact" ng-click="nav.toggleNav()">Contact</a></li>
        </ul>
    </nav>

    <div id="navView" ui-view="navbar" class="anim-in-out anim-slide-below-fade" data-anim-speed="500"></div>
</header>

<main class="anim-in-out anim-slide-below-fade" ui-view="mainContent" data-anim-speed="500"></main>

<aside>
    <login></login>
</aside>

<footer ui-view="footer"></footer>