<div class="container footer">
    <div class="row">
        <div class="nav-top" click-scroll="top"><i class="fa fa-chevron-up fa-2x"></i></div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <h4>Useful Links</h4>
            <ul>
                <li><a ui-sref="app.about">About</a></li>
                <li><a ui-sref="app.services">Services</a></li>
                <li><a ui-sref="app.contact">Contact</a></li>
            </ul>
        </div>

        <div class="col-xs-4">
            <h4>Contact</h4>
            <ul>
                <li><i class="fa fa-phone"></i><a href="tel:61407499830"> +61 407 499 830</a></li>
            </ul>
        </div>

        <div class="col-xs-4">
            <h4>Newsletter</h4>
            <div class="footer-form">
                <input type="email" class="form-control" id="email" placeholder="Email Address">
                <button type="submit" class="btn btn-danger rounded-corners">Subscribe</button>
            </div>
        </div>
    </div>

    <div class="row">

    </div>
</div>
<div class="contianer sub-footer">
    <div class="row">
        <div class="col-xs-4">
            <div class="abn">
                ABN 23 165 366 245
            </div>
        </div>

        <div class="col-xs-4">
            <div class="copyright">
                &copy; 2017 transaudit.org
            </div>
        </div>

        <div class="col-xs-4">
            <div class="site-by">
                Site Developed by <a href="http://www.codebyjordan.com" target="_blank">CodeByJordan</a>
            </div>
        </div>
    </div>
</div>