<div class="contianer sub-footer home">
    <div class="row">
        <div class="col-xs-4">
            <div class="abn">
                ABN 23 165 366 245
            </div>
        </div>

        <div class="col-xs-4">
            <div class="copyright">
                &copy; 2017 transaudit.org
            </div>
        </div>

        <div class="col-xs-4">
            <div class="site-by">
                Site Developed by <a href="http://www.codebyjordan.com" target="_blank">CodeByJordan</a>
            </div>
        </div>
    </div>
</div>