<div id="lBtn" class="login-btn" ng-click="login.toggle()">
    <img src="img/lock.png">
</div>

<div id="login" class="sidebar-login">
    <div class="title">
        <h1>Customer Login</h1>
    </div>
    <div class="form">
        <div class="input-group">
            <input class="login-input" type="text" id="username" placeholder="Username">
        </div>

        <div class="input-group">
            <input class="login-input" type="password" id="password" placeholder="Password">
        </div>

        <button id="loginSubmit" class="btn btn-danger">Login</button>
    </div>
</div>